<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Success</title>
</head>
<body>

    <b>
    <h2>Success!</h2>

    <h3>You are successfully logged in!</h3>

    <p>~~~~~~~~~~~~~~~~~~~~~~~</p>

    <h4> Welcome, <br>
        {{session['first_name'] }}
        {{session['last_name'] }} <br>
    </h4>

    <p>~~~~~~~~~~~~~~~~~~~~~~~</p>

    <p> Your email address is: <br>{{session['email']}} </p> 

    <p> Your ID is: <br>{{session['user.id'] }}</p>

    <p>~~~~~~~~~~~~~~~~~~~~~~~</p>

    Please click here to: <a href ='/logout'> Logout</a>
    </b>

</body>
</html>