/* * {
    background-color: darkcyan;
    color: aquamarine; 
    padding: 3px;
    margin: 3px;
}

h1 {
    text-decoration:underline;
    text-decoration-style: dotted;
}

form {
    font-size: 25px;
}

input {
    border: 2px solid aquamarine;
    border-radius: 4px;
} */